

/* Custom font via Fontface */
/*@font-face {
  font-family: 'Bitter';
  src: url('http://spjdrpedia.dk/w/skins/uniform/type/Bitter-Regular-webfont.eot');
  src: url('http://spjdrpedia.dk/w/skins/uniform/type/Bitter-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('http://spjdrpedia.dk/w/skins/uniform/type/Bitter-Regular-webfont.woff') format('woff'),
    url('http://spjdrpedia.dk/w/skins/uniform/type/Bitter-Regular-webfont.ttf') format('truetype'),
    url('http://spjdrpedia.dk/w/skins/uniform/type/Bitter-Regular-webfont.svg#BitterRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}*/
 
@font-face {
    font-family: 'IstokWeb';
    src: url('http://spjdrpedia.dk/w/skins/uniform/type/IstokWeb-Regular-webfont.eot');
    src: url('http://spjdrpedia.dk/w/skins/uniform/type/IstokWeb-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://spjdrpedia.dk/w/skins/uniform/type/IstokWeb-Regular-webfont.woff') format('woff'),
         url('http://spjdrpedia.dk/w/skins/uniform/type/IstokWeb-Regular-webfont.ttf') format('truetype'),
         url('http://spjdrpedia.dk/w/skins/uniform/type/IstokWeb-Regular-webfont.svg#IstokWebRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body { 
	text-align: center; 
	font-family: 'IstokWeb', Verdana, sans-serif;
	margin: 0; 
	padding: 0; 
	background: #f8f8f8;
}

/*  header */

.header {
	text-align: center;
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	background: #f8f8f8;
	border-bottom: 1px solid #e5e5e5;
}


.logo, .search, .user, .user ul li a {	
	height: 60px;
	line-height: 60px;
}

.logo {
	display: inline-block;
	height: 60px;
	line-height: 60px;
	width: 280px;
	font-weight: bold;
	font-size: 25pt;
	vertical-align: middle;
	background: url('../img/telegraflogo.png') no-repeat 20px center;
}

.modernizrsvg .logo {
	width: 260px;
	background: url('../img/telegraflogo.svg') no-repeat 20px center;
}

.menu {
	position: relative;
	text-align: left;
	margin: 0 auto;
	clear: both;
	max-width: 1200px;
	width: 100%;
}

/* sound icon */

	.sound {
		background-image: url('../img/tele.svg');
		background-position: -120px -400px;
		width: 40px;
		height: 40px;
		display: inline-block;
		position: absolute;
		top: 10px;
		right: 20px;
	}

	.muted {
		background-position: -160px -400px; 
	}

/* highlights */

.highlights {
	clear: both;
	background-color: white;
	height: 9px;
	font-size: 12pt;
	transition: height .4s;
}

.highlights a {
	height: 9px;
	display: inline-block;
	margin: 0;
	overflow: hidden;
	transition: height .4s;
}

.highlights span {
	display: inline-block;
	height: 0;
	font-weight: normal;
	padding-top: 10px;
	color: rgba(0,0,0,.5);
}d

.highlights:hover {
	height: 42px;
}

.highlights:hover a {
	height: 42px;
}

.highlights:hover span {
	padding-top: 12px;
}

.highlights:hover a {
	height: 42px;
}

.highlights a:hover {
	background-color: red;
}

/* wrapper */

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
}


/* send animation */

.sky {
	height: 290px;
	background-color: #e2f2f1;
	background-image: url('../img/sky.png');
	z-index: 20;
	background-position: 0 0;
}

.sender {
	position: relative;
	height: 290px;
	line-height: 290px;
	text-align: left;
}

.send {
	display: inline-block;
	width: 80px;
	height: 80px;
	line-height: 30px;
	background: #eee;
	border: 1px solid #aaa;
	border-radius:10px;
	/*border: 10px double black;*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-shadow: 1px 2px 0px 0px #666;
	margin-bottom: 1px;
	position: absolute;
	text-align: center;
	top: 90px;
	left: 40px;
	z-index: 10;
}

.send span {
	float: right;
	vertical-align: top;
	padding-right: 5px;
}

.click .send {
	margin-top: 1px;
	margin-bottom: 0;
	box-shadow: 1px 1px 0 0 #666;
}



/* telegraph */


.telegraph {
	background-image: url('../img/tele.png');
	height: 55px;
	width: 130px;
	background-repeat: no-repeat;
	background-position: 0 -330px;
	position: absolute;
	top: 110px;
	left: 150px;
	z-index: 1
}

.click .telegraph {
	background-position: -140px -330px;
}

.modernizrsvg .telegraph { background-image: url('../img/tele.svg'); }


/* line */

.line {
	margin-left: 260px;
	margin-right: 20px;
	height: 290px;
	line-height: 290px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0
}

.line img {
	width: 98%;
	vertical-align: middle;
}

.line span {
	display: inline-block;
	width: 0;
}

/* printer */

.printer {
	z-index: 10;
	width: 62px;
	height: 320px;
	position: absolute;
	top: 0px;
	right: 20px;
	background-image: url('../img/tele.png');
	background-position: -70px 0;
	background-repeat: no-repeat;
}

.click .printer {
	background-position: 0 0;
}

.modernizrsvg .printer { background-image: url('../img/tele.svg'); }

/* Morse animation */

.chart {
	margin: 0 50px 30px 0 ;
	line-height: 8px;
	height: 38px;
	font-weight: bold;
	/*font-size: 10px;*/
	overflow: hidden;
	text-align: right;
	unicode-bidi:bidi-override;
	direction:rtl;
	width: auto;
}

.chart div {
	display: inline-block;
	padding: 15px 0;
}

.transmit, .notrasmit {
	height: 10px;
	display: inline;
}

.transmit, .notransmit {
	display: inline-block;
	width: .05em;
	height: 8px;
	border-radius: 4px;
	text-align: center;
}

.transmit { background-color: #00a0c6; }
.current { border-radius: 4px 0 0 4px; }
.dah { background-color: #c40000; }

.long { width: 30px;}
.short {width: 10px;}

.notransmit {
	background-color: transparent; /*#ddd;*/
	/*vertical-align: top;*/
}

/* Icon */
/* Entypo pictograms by Daniel Bruce — www.entypo.com */
/* http://entypo.com */

.icon {
	position: absolute;
	top: 10px;
	left: -50px;
	background-image: url('../img/tele.png');
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
}

.modernizrsvg .icon { background-image: url('../img/tele.svg'); }

.code .icon { background-position: 0 -400px; }
.message .icon { background-position: -80px -400px; }
.speedselect .icon { background-position: -40px -400px; }

.code, .message, .speedselect {
	font-size: 9pt;
	font-family: Courier,monospace;
	border: 1px solid #ddd;
	background-color: #eee;
	border-radius: 3px;
	margin: 20px auto 20px auto;
	padding: 10px;
	display: block;
	border-left: 60px solid #888;
	position: relative;
	max-width: 600px;
	min-height: 40px;
}

.code span {
	display: inline-block;
	text-align: center;
	margin-bottom: 10px;
}

.message {
	font-size: 11pt;
	font-weight: bolder;
	text-transform: uppercase;
	font-family: Courier,monospace;
}

/* footer*/

.footer {
  font-size: 90%;
  background-color: #e5e5e5;
  padding: 20px;
}

/* tablet */

@media only screen and (max-width : 700px) {
	.telegraph {
		display: none;
	}

	.line {
		margin-left: 110px;
		margin-right: 40px;
	}
}

/* mobile last */

@media only screen and (max-width : 450px) {
	.sky {height: auto; background: none;}
	.sender {
		text-align: center;
		height: auto;
		/*padding: 40px 0;*/
	}
	.send {
		position: static;
		top: 0;
		left: 0;
		margin: 40px auto;
	}

	.click .send {
		margin: 41px auto 39px;
	}

	.telegraph {
		display: none;
	}

	.line img {
		display: none
	}

	.printer {
		display: none;
	}

	.chart { 
		margin: 0 10px 30px 0 ;
	}
}

