

/* Custom font via Fontface */
@font-face {
  font-family: 'Bitter';
  src: url('http://spjdrpedia.dk/w/skins/uniform/type/Bitter-Regular-webfont.eot');
  src: url('http://spjdrpedia.dk/w/skins/uniform/type/Bitter-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('http://spjdrpedia.dk/w/skins/uniform/type/Bitter-Regular-webfont.woff') format('woff'),
    url('http://spjdrpedia.dk/w/skins/uniform/type/Bitter-Regular-webfont.ttf') format('truetype'),
    url('http://spjdrpedia.dk/w/skins/uniform/type/Bitter-Regular-webfont.svg#BitterRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
@font-face {
    font-family: 'IstokWeb';
    src: url('http://spjdrpedia.dk/w/skins/uniform/type/IstokWeb-Regular-webfont.eot');
    src: url('http://spjdrpedia.dk/w/skins/uniform/type/IstokWeb-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('http://spjdrpedia.dk/w/skins/uniform/type/IstokWeb-Regular-webfont.woff') format('woff'),
         url('http://spjdrpedia.dk/w/skins/uniform/type/IstokWeb-Regular-webfont.ttf') format('truetype'),
         url('http://spjdrpedia.dk/w/skins/uniform/type/IstokWeb-Regular-webfont.svg#IstokWebRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*	--------------------------------------------------
Buttons
-------------------------------------------------- */

body { 
	text-align: center; 
	font-family: 'IstokWeb', Verdana, sans-serif;
	margin: 0; 
	padding: 0; 
	background: #f8f8f8;
}

/*body */

.header {
	text-align: center;
	position: relative;
	width: 100%;
	top: 0;
	left: 0;
	background: #f8f8f8;
	border-bottom: 1px solid #e5e5e5;
	/*height: 72px;*/
}


.logo, .search, .user, .user ul li a {	
	height: 60px;
	line-height: 60px;
}

.logo {
	/*position: absolute;*/
	/*top: 10px;*/
	/*left: 10px;*/
	display: inline-block;
	/*background-color: #222;*/
	height: 60px;
	line-height: 60px;
	width: 280px;
	font-weight: bold;
	font-size: 25pt;
	vertical-align: middle;
	background: url('../img/telegraflogo.png') no-repeat 20px center;
}

.modernizrsvg .logo {
	width: 260px;
	background: url('../img/telegraflogo.svg') no-repeat 20px center;
}

.menu {
	position: relative;
	text-align: left;
	margin: 0 auto;
	clear: both;
	max-width: 1200px;
	width: 100%;
}

/* highlights */

.highlights {
	clear: both;
	background-color: white;
	height: 9px;
	font-size: 12pt;
	transition: height .4s;
}

.highlights a {
	height: 9px;
	display: inline-block;
	margin: 0;
	overflow: hidden;
	transition: height .4s;
}

.highlights span {
	display: inline-block;
	height: 0;
	font-weight: normal;
	padding-top: 10px;
	color: rgba(0,0,0,.5);
}

.highlights:hover {
	height: 42px;
}

.highlights:hover a {
	height: 42px;
}

.highlights:hover span {
	padding-top: 12px;
}

.highlights:hover a {
	height: 42px;
}

.highlights a:hover {
	background-color: red;
}

/**/

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
}


/* send */

.sky {
	height: 290px;
	background-color: #e2f2f1;
	background-image: url('../img/sky.png');
	z-index: 20;
	background-position: 0 0;
}

.float {
	/*background-position: 500px 0;*/
}


.sender {
	position: relative;
	height: 290px;
	line-height: 290px;
	text-align: left;
}


.send {
	display: inline-block;
	width: 80px;
	height: 80px;
	line-height: 30px;
	background: #eee;
	border: 1px solid #aaa;
	border-radius:10px;
	/*border: 10px double black;*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	box-shadow: 1px 2px 0px 0px #666;
	margin-bottom: 1px;
	position: absolute;
	text-align: center;
	top: 90px;
	left: 40px;
}

.send span {
	float: right;
	vertical-align: top;
	padding-right: 5px;
}

.click .send {
	margin-top: 1px;
	margin-bottom: 0;
	box-shadow: 1px 1px 0 0 #666;
}



/* telegraph */


.telegraph {
	background-image: url('../img/teleoff.png');
	height: 55px;
	width: 130px;
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	top: 105px;
	left: 150px;
}

.click .telegraph {
	background-image: url('../img/teleon.png');
}

.modernizrsvg .telegraph {
	background-image: url('../img/tele-01.svg');
}

.modernizrsvg .click .telegraph {
	background-image: url('../img/tele-02.svg');
}


.line {
	width: 72%;
	display: inline-block;
	margin-left: 260px;
	vertical-align: middle;
}

.printer {
	z-index: 10;
	width: 62px;
	height: 320px;
	position: absolute;
	top: 0px;
	right: 20px;
	background-image: url('../img/tele-03.svg');
	background-position: top left;
	background-repeat: no-repeat;
}


.click .printer {
	background-image: url('../img/tele-04.svg');
}

/* footer*/

.footer {
  font-size: 90%;
  background-color: #e5e5e5;
  padding: 20px;
}

/* TRANSMIT */

.chart {
	margin: 0 50px 30px 0 ;
	line-height: 8px;
	height: 38px;
	font-weight: bold;
	/*font-size: 10px;*/
	overflow: hidden;
	text-align: right;
	unicode-bidi:bidi-override;
	direction:rtl;
	width: auto;
}

.chart div {
	display: inline-block;
	padding: 15px 0;
}

.transmit, .notrasmit {
	height: 10px;
	display: inline;
}

.transmit, .notransmit {
	display: inline-block;
	width: .05em;
	height: 8px;
	border-radius: 4px;
	text-align: center;
}

.transmit { background-color: #00a0c6; }
.current { border-radius: 4px 0 0 4px; }
.dah { background-color: #c40000; }

.long { width: 30px;}
.short {width: 10px;}

.notransmit {
	background-color: transparent; /*#ddd;*/
	/*vertical-align: top;*/
}

/**/


.translate {
	font-size: 30px;
	color: #e5e5e5;
	position: absolute;
	top: center;
	left: -40px;
}

.code {
	font-size: 9pt;
	font-family: Courier,monospace;
	border: 1px solid #ddd;
	background-color: #eee;
	border-radius: 3px;
	margin: 20px auto 20px auto;
	padding: 10px;
	display: block;
	border-left: 50px solid #888;
	position: relative;
	max-width: 600px;
}

.code span {
	display: inline-block;
	text-align: center;
	margin-bottom: 10px;
}

.message {
	font-size: 11pt;
	font-weight: bolder;
	text-transform: uppercase;
	font-family: Courier,monospace;
}